<div>
	<table width='100%'>
		<tr>
			<th widht='50%'></th>
			<td widht='40%'></td>
			<td widht='10%' ng-hide='logged'><button class='buttonCore' ng-click='cc.signUp()'> Sign Up </button><button class='buttonCore' ng-click='cc.signIn()'> Sign In </button></td>
			<td widht='10%' ng-show='logged'><button class='buttonCore' ng-click='cc.logOut()'> Log Out </button></td>
			
		</tr>
		<tr class='trCoreCover'>
			<th ><img alt="logo" class='imgCore' src="resources/images/cover.png" /></th>
			<td></td>
			<td></td>
		</tr>
	</table>
</div>
<div>
	<table width='100%'>
		<tr width='100%'>
			<th width='20%'  ng-show='showUserMenu'>
				<ul class='ulCore'>
				  <li ng-hide='isHome'><a class="aCore" href="" ng-click='cc.goHome()'>Home</a></li>
				  <li ng-show='isHome'><a class="aCoreActiv" href="" ng-click='cc.goHome()'>Home</a></li>
				  <li ng-hide='isFavorite'><a class="aCore" href="" ng-click='cc.goFavorite()'>Favorite</a></li>
				  <li ng-show='isFavorite'><a class="aCoreActiv" href="" ng-click='cc.goFavorite()'>Favorite</a></li>
				  <li ng-hide='isOrders'><a class="aCore" href="" ng-click='cc.goOrders()'>My Orders</a></li>
				  <li ng-show='isOrders'><a class="aCoreActiv" href="" ng-click='cc.goOrders()'>My Orders</a></li>
				  <li ng-hide='isProfile'><a class="aCore" href="" ng-click='cc.goProfile()'>Profile</a></li>
				  <li ng-show='isProfile'><a class="aCoreActiv" href="" ng-click='cc.goProfile()'>Profile</a></li>
				</ul>
			</th>
			<th width='20%'  ng-show='showDostMenu'>
				<ul class='ulCore'>
				  <li ng-hide='isGetDelivery'><a class="aCore" href="" ng-click='cc.goGetDelivery()'>Get Delivery</a></li>
				  <li ng-show='isGetDelivery'><a class="aCoreActiv" href="" ng-click='cc.goGetDelivery()'>Get Delivery</a></li>
				   <li ng-hide='isMyDeliveries'><a class="aCore" href="" ng-click='cc.goMyDeliveries()'>My Deliveries</a></li>
				  <li ng-show='isMyDeliveries'><a class="aCoreActiv" href="" ng-click='cc.goMyDeliveries()'>My Deliveries</a></li>
				  <li ng-hide='isProfile'><a class="aCore" href="" ng-click='cc.goProfile()'>Profile</a></li>
				  <li ng-show='isProfile'><a class="aCoreActiv" href="" ng-click='cc.goProfile()'>Profile</a></li>
				</ul>
				<span height='50px'></span><br/>
				<div ng-show='hasDelivery'>
					{{onDelivery}}<br/>
					<button class='buttonCore' ng-click='cc.didMyDelivery()'>DELIVERED</button>					
				</div>
				
			</th>
			<th width='20%'  ng-show='showAdminMenu'>
				<ul class='ulCore'>
				  <li class='liCore'>Restaurant</li>
				  <li ng-hide='addRest'><a class="aCore" href="" ng-click='cc.addRest()'>Add</a></li>
				  <li ng-show='addRest'><a class="aCoreActiv" href="" ng-click='cc.addRest()'>Add</a></li>
				  <li ng-hide='rest.edit'><a class="aCore" href="" ng-click='cc.editRest()'>Edit</a></li>
				  <li ng-show='rest.edit'><a class="aCoreActiv" href="" ng-click='cc.editRest()'>Edit</a></li>
				  <li ng-hide='rest.del'><a class="aCore" href="" ng-click='cc.delRest()'>Delete</a></li>
				  <li ng-show='rest.del'><a class="aCoreActiv" href="" ng-click='cc.delRest()'>Delete</a></li>
				  <li class='liCore'>Menu Item</li>
				  <li ng-hide='item.add'><a class="aCore" href="" ng-click='cc.addItem()'>Add</a></li>
				  <li ng-show='item.add'><a class="aCoreActiv" href="" ng-click='cc.addItem()'>Add</a></li>
				  <li ng-hide='item.edit'><a class="aCore" href="" ng-click='cc.editItem()'>Edit</a></li>
				  <li ng-show='item.edit'><a class="aCoreActiv" href="" ng-click='cc.editItem()'>Edit</a></li>
				  <li ng-hide='item.del'><a class="aCore" href="" ng-click='cc.delItem()'>Delete</a></li>
				  <li ng-show='item.del'><a class="aCoreActiv" href="" ng-click='cc.delItem()'>Delete</a></li>
				  <li class='liCore'>Vehicle</li>
				  <li ng-hide='vehicle.add'><a class="aCore" href="" ng-click='cc.addVehicle()'>Add</a></li>
				  <li ng-show='vehicle.add'><a class="aCoreActiv" href="" ng-click='cc.addVehicle()'>Add</a></li>
				  <li ng-hide='vehicle.edit'><a class="aCore" href="" ng-click='cc.editVehicle()'>Edit</a></li>
				  <li ng-show='vehicle.edit'><a class="aCoreActiv" href="" ng-click='cc.editVehicle()'>Edit</a></li>
				  <li ng-hide='vehicle.del'><a class="aCore" href="" ng-click='cc.delVehicle()'>Delete</a></li>
				  <li ng-show='vehicle.del'><a class="aCoreActiv" href="" ng-click='cc.delVehicle()'>Delete</a></li>
				  <li class='liCore'>Users</li>				  
				  <li ng-hide='users.change'><a class="aCore" href="" ng-click='cc.changeType()'>Change Type</a></li>
				  <li ng-show='users.change'><a class="aCoreActiv" href="" ng-click='cc.changeType()'>Change Type</a></li>
				</ul>
			</th>
			<td width='65%' class='viewCore'>
				<ui-view></ui-view>
			</td>
			<td width='15%' class='rightCore' ng-show='showSideMenu'>
				<div>
					<table>
						<tr><td><input type='text' ng-model='search'/></td></tr>
						<tr><td><button class='buttonCore' ng-click="cc.doSearch()">search</button></td></tr>
						<tr><td height='20px'></tr>
						<tr><td>Restaurant cathegories:</td></tr>
						<tr><td><a class='aCore' ng-click="cc.showFoodHomeMade()">home-made food</a></td></tr>
						<tr><td><a class='aCore' ng-click="cc.showFoodBarbique()">barbique</a></td></tr>
						<tr><td><a class='aCore' ng-click="cc.showFoodPizza()">pizza</a></td></tr>
						<tr><td><a class='aCore' ng-click="cc.showFoodBakery()">bakery</a></td></tr>
						<tr><td><a class='aCore' ng-click="cc.showFoodChinese()">chinese food</a></td></tr>
						<tr><td><a class='aCore' ng-click="cc.showFoodIndian()">indian food</a></td></tr>
					</table>
				</div>
			</td>
		</tr>
	</table>
</div>