body {
    margin: 0;
}

.ulCore {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f3f3f3;
    position: static;
    height: 100%;
    overflow: auto;
    text-align: left;
    
}
.aImgCore{
	width:100%;
    display: block;
    color: #000;
    text-decoration: none;
}
.aCore {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.aCoreActiv {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #0080c0;
    color: white;
}

.aCore:hover{
    background-color: #555;
    color: white;
}
.imgCore{
	float: left;
	width:500px;
	height: 100px;
}
.fix{
	position: fixed;
}
.buttonCore {
    background-color: white;
    color: black;
    border: 2px solid #8B0000; 
    float: right;
}
.liCore{
	font-weight: bold;
	color: white;
	background-color: #8B0000;
}
.viewCore{
    background-color: #f3f3f3;
}
.tableAccount{
	text-align: left;
}
.tableRestaurant{
	text-align: left;
}
.h3Restaurant{
	font-weight: bold;
	color: #8B0000;	
}
.buttonRest{
	background-color: white;
    color: black;
    border: 2px solid #8B0000; 
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}